*{
			margin: 0;
			padding: 0;
			font-family: verdana;
		}
		header{
			padding: 20px 0;
			position: fixed;
			z-index: 9999;
			top: 0;
			width: 100%;
		}
		.container{
			width: 1170px;
			margin: 0 auto;
		}
		.logo{
			float: left;
			width: 20%;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			float: right;
		}
		ul li{
			float: left;
			width: 200px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			opacity: .8;
		}
		ul li a {
		    text-transform: capitalize;
		    text-decoration: none;
		    display: block;
		    font-weight: 500;
		    color: #000;
		}
		a:hover{
			color: green!important;
		}
		ul li ul li{
			display: none;
			background: #000;
			border-bottom: 1px solid #fff;
		}
		ul li:hover ul li{
			
			display: block;
			
		}
		ul li:hover ul li a{
			color: #fff;
		}
	/*	ul li ul.submenu li ul li{
			display: none;
		}
		ul li ul.submenu li:hover ul li{
			display: block;
		}
	*/
	.welcome{
		background: url(images/img1.jpg) no-repeat center center / cover;
		padding: 100px 0;
		position: relative;
		z-index: 1;
		margin-top: 80px; 
	}
	.welcome:before{
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,.8);
		top: 0;
		left: 0;
		content: "";
		z-index: -1;
	}
	.welcome h1{
		color: #fff;
		text-align: center;
	}
	.main_form {
	    text-align: center;
	    padding: 70px 0;
	}

		.main_form h2 {
		    margin-bottom: 10px;
		}

		.main_form h5 {
		    margin-top: 5px;
		}
		h5.acc_no {
		    border: 2px solid #000;
		    max-width: 50%;
		    padding: 8px;
		    margin: 30px auto;
		}
		.form_content {
    		padding: 50px 0;
    		width: 50%;
    		margin: 0 auto;
		}
		.payment_table{
    		width: 50%;
    		margin: 70px auto;
		}
		.acc_n {
		    width: 50%;
		    margin: auto;
		}
		.acc_n label:nth-child(2) {
    		float: right;
		}
		.acc_n label:nth-child(1) {
    		float: left;
		}
		.form_content label {
		    display: block;
		    margin: 20px 0;
		    text-align: left;
		}
		.f_c_roll{
			width: 50%;
			float: left;
		}
		.main_form h4 {
    		margin-top: 75px;
		}
		h6.sig_ch {
		    float: right;
		    margin-top: 65px;
		}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: center;
		}